<ion-view view-title="Vedio App Name">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="item item-divider">
             <i class="ion-images"></i>
             Event Registration Form
             </div>
        <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label><label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
</div>
        </div>
    </ion-content>
</ion-view>
